@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Athiti', sans-serif;
  transition: 0.5s;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-navbar{
  background: #673AB7;
    background: -webkit-linear-gradient(to right, #512DA8, #673AB7);
    background: linear-gradient(to right, #512DA8, #673AB7);
}
.text-purple{
  color:#4f16b2;
}
.border-purple{
  border: #4f16b2 !important;
}
.card-active{
  border: #f9f9f9 0.3rem solid;
}

.bg-dark-20{
  background: #0a021d2d !important;
}
.text-light-50{
  color: #ffffffc3 !important;
}
.size-logo{height: 1.5em;}
.nav-menu{border-bottom: #f5deb3 .15em solid;
}
.text-wheat{
  color: wheat;
}
.bg-body-purple{
  background: rgb(246, 245, 255) !important;
}
.stroke-white{
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media (min-width:768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: .1rem solid #9c9b9b;
    width: 3rem;
    position: absolute;
    left: 7.5rem;
    top: .3125rem
  }

  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: .1rem solid #9c9b9b;
    width: 3rem;
    position: absolute;
    right: 7.5rem;
    top: .3125rem
  }
}

.timeline-steps .timeline-content {
  width: 8rem;
  text-align: center
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #1a67e2
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #3b82f6;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}

.timeline-steps .timeline-content .inner-circle-disable {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #565656
}

.timeline-steps .timeline-content .inner-circle-disable:before {
  content: "";
  background-color: #6b6b6b;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: .5
}
.img-select{
  height: 12rem;
  object-fit: cover;
}
.img-detail-1{
  height: 24rem;
  object-fit: cover;
}
.img-detail-2 {
  height: 12rem;
  object-fit: cover;
}
.border-image-pill{
    border-radius: 0.8rem !important;
    height: 12rem;
    object-fit: cover;
}
.border-image{
  border-radius: 0.8rem 0.8rem 0rem 0rem !important;
  height: 12rem;
  object-fit: cover;
}
.border-card {
  border-radius: 0rem 0rem 0.8rem 0.8rem !important;
}
.rounded-cardMenuAdmin{
  border-radius: 2rem 2rem 0 0 !important;
}

/* Home  */
.font-6 {
  font-size: 1.2rem !important;
  color: #565656;
}
.w-20rem{
  width: 20rem !important;
}

/* @media screen and (max-width: 960px) {
  .sidebar{
    display: none;
  }
} */

.h-screen {
  min-height: 100vh;
}
.w-screen{
  min-width:100vw;
}
.h-screen-60{
  min-height: 60vh;
}
.img-dontHave{
  height: 5rem;
}

@media (max-width:767px) {
  .hide-sidebar{
    display: none;
  }
}
@media (min-width:767px) {
  .hide-toggle {
    display: none;
  }
}
.btn-primary{
  background-color: #5c28b6 !important;
  border: none !important;
}
.btn-primary:hover {
  background-color: #46129f !important;
}
.hover-signin:hover{
  margin-left: 3rem;
}